body {
    background-color: #3385ff;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    margin-top: 30px;
}

.clearfix {
    clear: both;
    height: 10%;
}

#weather,
#forecast {
    height: 400px;
    width: auto;
    /* border: 2px solid black; */
}

#Location {
    text-align: center;
}

#currentweatherdetails {
    text-align: center;
    list-style-type: none;
    font-size: 10px;
}

.title {
    text-align: center;
}

.forecastdetails {
    display: flex;
    text-align: center;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
    width: 300px;
    height: auto;
}