body {
    background-color: #3385ff;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    margin-top: 30px;
}

.clearfix {
    clear: both;
    height: 10%;
}

#weather {
    padding: 50px;
    height: auto;
    width: auto;
    /* border: 2px solid black; */
}

.left-col,
.right-col {
    height: 400px;
    width: 50%;
    border: 2px solid white;
    float: left;
    text-align: center;
}

#Location {
    text-align: center;
}


/* #currentweatherdetails {
    text-align: center;
    list-style-type: none;
    font-size: 10px;
} */


/* .title {
    text-align: center;
} */


/* .forecastdetails {
    display: flex;
    text-align: center;
} */


/* .box1,
.box2,
.box3,
.box4,
.box5 {
    width: 300px;
    height: auto;
} */